Source: debathena-metrics
Section: debathena/misc
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2),
 python-all-dev (>= 2.6.6-3~), python2.7-dev,
 python-pyrex, python-setuptools
X-Python-Version: 2.7
Standards-Version: 3.8.3

Package: debathena-metrics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 daemon, dbus, debathena-gdm-config (>= 1.14~)
Conflicts: ${diverted-files}
Description: Collect metrics on Athena usage
 This package collects, anonymizes, and centrally logs statistics on
 how Athena cluster machines are being used. This information is used
 both to help guide inclusion or exclusion of software, justify
 devoting resources to Athena development, and focus those resources.
